/* Cambia el color de fondo de toda la página a beige */
body {
    background-color: #F5F5DC;
}

/* Cambia el color y tamaño de los títulos */
h1 {
    color: #8B4513; /* Un marrón oscuro que combina bien con el beige */
    font-size: 3em;
}

/* Estilo personalizado para botones */
button {
    background-color: #F5F5DC; /* Beige */
    border: 2px solid #8B4513; /* Borde marrón */
    color: #8B4513; /* Texto marrón */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}